header {
  display: flex;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 96px;
  gap: 90px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 34px;
  list-style-type: circle;
}

.header__logo-container {
  margin-left: 40px;
}

.header__logo {
  width: 130px;
}

.header__contacts {
  width: 190px;
  margin-right: 30px;
}

.contact-link,
.header__link {
  text-decoration: underline;
}

.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/cover.jpg");
  background-size: cover;
  color: white;
}

.cover__title {
    padding: 165px 50px 130px 50px;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: bold;
    line-height: 120px;
    letter-spacing: 0.4em;
    text-align: left;
    font-family: "Raleway";
}

.cover__line-ono {
  display: flex;
  justify-content: start;
}

.cover__line-tebe {
  display: flex;
  justify-content: center;
}

.cover__line-nado {
  display: flex;
  justify-content: end;
}

.cover__description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.cover__description-text{
    word-spacing: 20px;
}

.bet-button {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-size: 22px;
  padding: 12px;
  text-transform: uppercase;
}

.lots {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  margin-left: 62px;
  text-transform: uppercase;
  font-family: "Raleway";
}

.lots__card-list {
  display: flex;
  justify-content: space-around;
}

.lots__card-list-item {
  display: flex;
  list-style-type: none;
  width: 334px;
  height: 560px;
  padding: 42px;
  color: white;
}

.card__title {
  font-family: "Raleway";
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  font-size: 20px;
  font-weight: 400;
  
}

.type_film {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card-lot-01.jpg");
  background-size: cover;
}
.type_book {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card-lot-02.jpg");
  background-size: cover;
}
.type_picture {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/card-lot-03.jpg");
  background-size: cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots__look-more-link {
  margin-left: 62px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  text-decoration: underline;
}

.about {
  display: flex;
  margin-top: 170px;
  padding: 10px 10px 10px 50px;
  justify-content: space-around;
  gap: 30px;
}

.about__column-text {
  margin-top: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__logo {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 150px;
}

.about__title {
  font-size: 40px;
  font-family: "Raleway";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  width: 690px;
}

footer {
  display: flex;
  margin-top: 174px;
  margin-bottom: 80px;
  font-size: 18px;
  font-weight: 400;
  justify-content: space-between;
  margin-right:48px;
}
.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__contacts {
  width: 190px;
  margin-left: 60px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__social-list-item {
  list-style-type: none;
  width: 48px;
}
